// Side bar
.side-bar-admin {
    padding: 2rem 3rem 0 3rem;
  
    button {
      display: flex;
      align-items: center;
      font-size: 2rem;
      margin-top: 3rem;
      color: black;
      text-align: left;
      width: 100%;
      background: none;
      border: none;
      padding: 1rem 0;
      cursor: pointer;
      transition: color 0.3s, background-color 0.3s;
  
      &:hover {
        color: darkgray;
        background-color: rgba(0, 0, 0, 0.1);
      }
  
      i {
        margin-right: 1rem;
      }
    }
  }
  
  // Carousel
  .carousel {
    display: flex;
    flex-direction: column;
    gap: 1rem; // Add gap between buttons for better spacing
    padding: 2rem;
  }
  
  // Menu bar
  .mui-iconBtn {
    color: black !important;
    border: unset !important;
    outline: unset !important;
  }
  
  // Admin template
  .admin-template {
    .menu-bar-header {
      background-image: url('../../assets/Image/Admin.jpg');
      background-position: center 11px;
      position: relative;
  
      &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        opacity: 0.8;
      }
    }
  }
  